<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rozihub.infor.gt009.rozihubb">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppThem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".ForgatPasswordActivity"
            android:label="Forget Password" />
        <activity
            android:name=".ResetActivity"
            android:label="@string/resetpass" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RoziHubProfessionals" />
        <activity
            android:name=".SearchActivity"
            android:label="Search Professionals" />
        <activity android:name=".ProfileActivity"></activity>
    </application>

</manifest>